---
layout: default
---

  <div class="container">
    <div class="about">
      <p>I'm <span class="semi-bold">Silas</span>, a Raleigh-based digital designer with a focus on creating solutions by rethinking the way we interact with and experience brands and technology. This is a compendium of projects <i>&amp;</i> thoughts revolving around technology, design, and the human condition.</p>
      <p>I'm currently available for <a class="links" href="mailto:patchrogan@gmail.com" target="_blank">freelance projects</a>. If you'd like to discuss a role at your company, <a class="links" href="mailto:patchrogan@gmail.com">I'd love to hear about it.</a></p>
    </div>
  </div>

  <div class="container grid animated fadeInUp" id="grid">
    <a class="case-link" href="https://dribbble.com/silaswanders/projects/329375-Crunchyroll">
      <div class="item two-one" id="crunchyroll">
        <div class="case-caption">
          <h1>Redesigning a Viewing Experience</h1>
          <h3>UX/UI Design <span>for</span> Crunchyroll</h3>
        </div>
      </div>
    </a>
    <!--
    <a class="case-link" href="#">
      <div class="item one" id="mini-bio">
        <div class="case-caption">
          <p>My name is Patrick. I create digital solutions by rethinking the way we interact with technology and brands.</p>
          <h3>Learn More</h3>
        </div>
      </div>
    </a> -->

    <a class="case-link" href="https://dribbble.com/silaswanders/projects/171662-Teamworks">     
      <div class="item one" id="teamworks">
        <div class="case-caption">
          <h1>A Revolution in Communication</h1>
          <h3>UI/UX, Development, &amp; Branding <span>for</span> Teamworks</h3>
        </div>    
      </div>
    </a>    
    <a class="case-link" href="https://dribbble.com/silaswanders/projects/223851-BLK-MRKT">     
      <div class="item one-two" id="blkmrkt">
        <div class="case-caption">
          <h1>Creating a smooth mobile shopping experience</h1>
          <h3>Mobile UI &amp; Branding <span>for</span> Tapp Industries</h3>
        </div>    
      </div>
    </a>
    <a class="case-link" href="https://dribbble.com/silaswanders/projects/330332-6Fusion">
      <div class="item two-one" id="sixfusion">
        <div class="case-caption">
          <h1>A higher level of cost optimization</h1>
          <h3>UX/UI &amp; Front-End Development <span>for</span> 6Fusion</h3>
        </div>    
      </div>
    </a>
    <a class="case-link" href="#">
      <div class="item two-one" id="aesthete">
        <div class="case-caption">
          <h1>A meeting of aesthetics and technology</h1>
          <h3>Branding <span>for</span> Aesthete</h3>
        </div>
      </div>  
    </a>
  </div>

  <div class="container">
    <div class="items">

      <div class="item">
        <h2 class="item-title">Essays</h2>
          <ul class="item-list">
            {% for post in site.categories['essay'] %}          
              <li>
                <a class="links-hover not-active" href="{{ post.url | prepend: site.baseurl }}" target="_blank">{{ post.title }} <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span></a>
                </li>
            {% endfor %}
          </ul>
      </div>

      <div class="item">
        <h2 class="item-title">Social</h2>
        <ul class="item-list">
          <li><a class="links-hover" href="https://dribbble.com/silaswanders/" target="_blank"><span class="dribbble">Dribbble</span></a></li>

          <li><a class="links-hover" href="https://twitter.com/heyiampatch" target="_blank"><span class="twitter">Twitter</span></span></a></li>

          <li><a class="links-hover" href="http://overanalysissam.tumblr.com" target="_blank"><span class="tumblr">Tumblr</span></a></li>

        </ul>
      </div>  
    </div>
  </div>

<!-- <div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
-->