
@import url(http://fonts.googleapis.com/css?family=Ovo);
@import url(http://fonts.googleapis.com/css?family=Muli:300,400,300italic,400italic);

/*===========*/
/* Structure */
/*===========*/	

html {
	background-color: #FAFAFA;
	font-family: "Garamond", "Ovo",serif;
	font-style: normal;
	font-weight: 400;
	color: #444444;
	margin: 0;
    padding: 0;

}
body {
    padding: 0 20px;
    margin: 0;
}

.wrapper {
	max-width: 940px;
	width: 100%;
	margin: 0 auto;
}

	.wrapper > .post {
		padding: 120px 0 0;
	}

	.home {
		padding: 120px 0 0;		
	}

	/*========*/
	/* Header */
	/*========*/		

	.insignia_wrap {
	  position: relative;
	  width: 48px;
	  height: 100px;
	  margin: 40px 0 30px 0;
	}

		.insignia_wrap img {
		  -webkit-transition: opacity 300ms;  
		  transition: opacity 300ms;
		  position: absolute;
		  top: 0;
		  left: 0;
		  max-width: 100%;
		  height: 40px;
		}

/*====================*/
/* Typography & Links */
/*====================*/

.post-header {margin-bottom: 80px;}
	h1.post-title {
		font-size: 3em;
		text-align: center;
	}
	p.post-meta {
		color: #9D9D9D;
		font-style: italic;
		font-size: 1.5em;
		text-align: center;	
	}

	.post-content p {
		font-size: 2em;
		line-height: 1.5em;
	}

	.post-content a {
		color: #70AACA;
		text-decoration: none;
	}

	.post-content blockquote {
		margin: 30px 0 30px -50px;
		padding: 0 50px 0 24px;
		-webkit-box-sizing: border-blox;
		-moz-box-sizing: border-blox;
		box-sizing: border-blox;
		-webkit-box-shadow: -2px 0 0 0 $blue;
		box-shadow: -2px 0 0 0 $blue;
		color: $light-grey;		
	}

.semi-bold {
	font-family: "Garamond", "Ovo",serif;
	font-weight: 600;
}
.links {
	color: $whitegold;
	text-decoration: none;
}

	.pink {color: $pink;}
	.tw-green {color: $tw-green;}
	.sfgreen {color: $sfgreen;}


.about p {
	font-size: 36px;
	line-height: 48px;
}

.about .links {
	position: relative;
}

.about .links::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #70aaca; /* color */
  content: '';
  opacity: 0;
  -webkit-transition: opacity 300ms,-webkit-transform 300ms;
  transition: opacity 300ms,transform 300ms;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}

.about .links:active::after,
.about .links:focus::after,
.about .links:hover::after {
  opacity: 1;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);

}

.links-hover{
	text-decoration: none;
	color: #222222;
	
}
.links-hover:hover {
	color: $whitegold;
	text-decoration: none;
}

/*========*/
/* Layout */
/*========*/

.item-list {
	padding: 0;
	margin-top: 0px;
}

.item-list li {
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 48px;
	list-style: none;
	border-left: 2px solid #DDD;
	margin-bottom: 10px;
}

.item-list a {
	padding-left: 20px;	
}

.items {
	overflow: hidden;
}

.item {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.item-title {
	font-size: 24px;
	margin-bottom: 12px;
	font-family: "Garamond", "Ovo",serif;
	font-weight: 400;
	color: $whitegold;

}
.item-title::after{
  content: '';
  display: inline-block;
  padding-left: .2em;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: scaleX(1.5) translateY(-.1em);
  transform: scaleX(1.5) translateY(-.1em);
  color: $whitegold;
}

@media (min-width: 480px) and (max-width: 760px) {
	.about p {
		font-size: 28px;
	}
	.items {
		font-size: 12px;
	}
	.item-list {
		font-size: 12px;
	}
}

@media (max-width: 480px) {
	.about p {
		font-size: 22px;
	}
	.info-items {
		font-size: 12px;
	}
	.item-list {
		font-size: 12px;
	}
	.lucky-cat__wrapper {
		width: 39px;
		height: 53px;
	}
	.info-item {
    	width: 50%;
    }
}
