
@import url(http://fonts.googleapis.com/css?family=Ovo);
@import url(http://fonts.googleapis.com/css?family=Muli:300,400,300italic,400italic);

/*===========*/
/* Structure */
/*===========*/	

html {
	background-color: #FAFAFA;
	font-family: "Garamond", "Ovo",serif;
	font-style: normal;
	font-weight: 400;
	color: #444444;
	margin: 0;
    padding: 0;

}
body {
    padding: 0 20px;
    margin: 0;
}

.wrapper {
	max-width: 940px;
	width: 100%;
	margin: 0 auto;
}

	.wrapper > .post {
		padding: 120px 0 0;
	}

	.home {
		padding: 40px 0 0;		
	}

	/*========*/
	/* Header */
	/*========*/	

	.insignia-header {
		padding: 40px 0;
	}	

	.insignia_wrap {
	  position: relative;
	  width: 48px;
	  height: 100px;
	  margin: 40px 0 30px 0;
	}

		.insignia_wrap img {
		  -webkit-transition: opacity 300ms;  
		  transition: opacity 300ms;
		  position: absolute;
		  top: 0;
		  left: 0;
		  max-width: 100%;
		  height: 40px;
		}

/* -------------------------------- 

 Navigation

-------------------------------- */

	.desktop-menu {
		display: -webkit-box;
		display: -moz-box;
		display: box;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: flex;
		float: right;
		
		list-style: none;
		margin: 0;
		padding: 0;		
		li {
			-webkit-box-align: center;
			-moz-box-align: center;
			box-align: center;
			-webkit-align-items: center;
			-moz-align-items: center;
			-ms-align-items: center;
			-o-align-items: center;
			align-items: center;
			-ms-flex-align: center;
			display: -webkit-box;
			display: -moz-box;
			display: box;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flexbox;
			display: flex;
			padding: 0 50px 15px;
			padding-left: 0;			
		}

		a {
			display: block;
			text-decoration: none;
			color: #505050;
			font-weight: 400;
			font-size: 1.125em;
			padding-bottom: 10px;
			border-bottom: 2px solid #444;			
		}	
		li:last-child {
		    padding-right: 0;
		}	
	}

	.mobile-menu {
		display: none;
	}

		.logo-icon {
			height: 24px;
			width: 32px;
			a {
				display: block;
			}
			svg #pr-logo {transition: 1s;}
			svg:hover #pr-logo { fill: $whitegold; }			
		}

		.menu {
			display: none;
			position: relative;
			right: 0;
			svg #menu-icon {
				display: none;
			}
			svg:hover #menu-icon { fill: $whitegold; }
		}


/*====================*/
/* Typography & Links */
/*====================*/

.post-header {margin-bottom: 80px;}
	h1.post-title {
		font-size: 3em;
		text-align: center;
	}
	p.post-meta {
		color: #9D9D9D;
		font-style: italic;
		font-size: 1.5em;
		text-align: center;	
	}

	.post-content p {
		font-size: 2em;
		line-height: 1.5em;
	}

	.post-content a {
		color: #70AACA;
		text-decoration: none;
	}

	.post-content blockquote {
		margin: 30px 0 30px -50px;
		padding: 0 50px 0 24px;
		-webkit-box-sizing: border-blox;
		-moz-box-sizing: border-blox;
		box-sizing: border-blox;
		-webkit-box-shadow: -2px 0 0 0 $blue;
		box-shadow: -2px 0 0 0 $blue;
		color: $light-grey;		
	}

.semi-bold {
	font-family: "Garamond", "Ovo",serif;
	font-weight: 600;
}
.links {
	color: $whitegold;
	text-decoration: none;
}

	.pink {color: $pink;}
	.tw-green {color: $tw-green;}
	.sfgreen {color: $sfgreen;}


.about p {
	font-size: 36px;
	line-height: 48px;
}

.about .links {
	position: relative;
}

.about .links::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: $whitegold; /* color */
  content: '';
  opacity: 0;
  -webkit-transition: opacity 300ms,-webkit-transform 300ms;
  transition: opacity 300ms,transform 300ms;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}

.about .links:active::after,
.about .links:focus::after,
.about .links:hover::after {
  opacity: 1;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);

}

.links-hover{
	text-decoration: none;
	color: #222222;
	transition: 1s;
	
}
.links-hover:hover {
	color: $whitegold;
	text-decoration: none;
	padding-left: 30px;
}

/*========*/
/* Layout */
/*========*/

.container {
	position: relative;
	width: 80%;
	max-width: 75em;
	margin: 0 auto;
	padding: 0 10px;
	padding-bottom: 40px;
	overflow: auto;
}

.item-list {
	padding: 0;
	margin-top: 0px;
}

.item-list li {
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 48px;
	list-style: none;
	border-left: 2px solid #DDD;
	margin-bottom: 10px;
}

.item-list a {
	padding-left: 20px;	
}

.items {
	overflow: hidden;
}

.item {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.item-title {
	font-size: 24px;
	margin-bottom: 12px;
	font-family: "Garamond", "Ovo",serif;
	font-weight: 400;
	color: $whitegold;

}
.item-title::after{
  content: '';
  display: inline-block;
  padding-left: .2em;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: scaleX(1.5) translateY(-.1em);
  transform: scaleX(1.5) translateY(-.1em);
  color: $whitegold;
}

/* -------------------------------- 

 Grid

-------------------------------- */

.grid {

		.case-link, .case-caption {
			color: #fff;
		}

	.item {
		margin-top: 20px;
		box-sizing: border-box;
		padding: 40px;

		.case-caption {
			-webkit-font-smoothing: antialiased;
			h1 {
				font-size: 2.5em;
				line-height: 1.25em;
			}

			h3 {
				position: absolute;
				bottom: 40px;
				right: 40px;
				font-weight: bold;

				span {
					font-weight: normal;
				}
			}
			p {
				font-size: 1.5em;
				line-height: 1.75em;
			}
		}
	}

	.one-two, .one {
		.case-caption h3 {
			right: 0;
			left: 40px;
		}
	}

		#crunchyroll {
			background: url("../img/crunchyroll.png");
		}

			.case-link:hover {
						span {
							color: $cotton;
						}				
				#crunchyroll {
					.case-caption {
						h3 {
							color: #f78c25
						}
					}
				}

				#blkmrkt {
					.case-caption {
						h3 {
							color: #e84c4f;
						}
					}
				}

				#sixfusion {
					.case-caption {
						h3 {
							color: $sfgreen;
						}
					}
				}

				#aesthete {
					.case-caption {
						h3 {
							color: $whitegold;
						}
					}
				}

				#mini-bio {
					.case-caption {
						h3 {
							color: $whitegold;
						}
					}
				}
			}

		#mini-bio {
			background: url("../img/mini-me.png");
		}

		#blkmrkt {
			background: url("../img/blkmrkt-preview.png");
			background-size: cover;
		}

		#aesthete {
			background: url("../img/aesthete.png");
		}

		#sixfusion {
			background: url("../img/sixfusion.png");
		}

		#library {
			background: url("../img/library.png");
		}

		#teamworks {
			background: url("../img/teamworks.png");
			background-size: cover;
		}

	.two-one {
		width: 780px;
		height: 360px;
	}

	.one {
		width: 380px;
		height: 360px;
	}

	.one-two {
		height: 740px;
		width: 380px;
	}
}

/* -------------------------------- 

 Projects

-------------------------------- */

.link {

}

.case-hover {
	position: absolute;
	width: 100%;
	.title-button {
		position: absolute;
		top: 25%;
		left: 50%;
	}
}

.title-button {
	background-color: rgba(0,0,0,0.5);
	padding: 20px;
	color: rgba(250,250,250,0.8);
	text-align: center;
	font-weight: bold;
	font-size: 1em;
	display: block;
	margin: 40px auto;
}

.cs-sixfusion {
	.container { 
		img {
			margin: 0 auto;
			text-align: center;
			display: block;
			width: 50%;
		}
	}
	.sf-green {
		background-color: $sfgreen;
	}	
	.sf-white {
		background-color: $cotton;
	}
	.sf-powder {
		background-color: $sf-powder;
		.container {
			img {width: 100%;}
		}
	}
}


/* -------------------------------- 

 Footer

-------------------------------- */

.footer {
	padding: 50px 75px 0;
	position: relative;
	z-index: 12;
	margin: 0 auto;	
}

.list-social {
	padding: 0 0 100px;
	.list-social-item {
		float: left;
		padding: 15px 50px;
		padding-left: 0;
		a {
			color: #505050;
			font-weight: 400;
			font-size: 1.125em;
			padding-bottom: 10px;
			border-bottom: 2px solid #444;
		}		
	}
}

.list-social .link.twitter:hover, .list-social .twitter.link-intro:hover {
    border-color: #00aced
}

.list-social .link.instagram:hover, .list-social .instagram.link-intro:hover {
    border-color: #3f729b
}

.list-social .link.facebook:hover, .list-social .facebook.link-intro:hover {
    border-color: #3b5998
}

.list-social .link.dribbble:hover, .list-social .dribbble.link-intro:hover {
    border-color: #ea4c89
}


@media (min-width: 480px) and (max-width: 760px) {
	.about p {
		font-size: 28px;
	}
	.items {
		font-size: 12px;
	}
	.item-list {
		font-size: 12px;
	}
}

@media (max-width: 480px) {
	.about p {
		font-size: 22px;
	}
	.info-items {
		font-size: 12px;
	}
	.item-list {
		font-size: 12px;
	}
	.lucky-cat__wrapper {
		width: 39px;
		height: 53px;
	}
	.info-item {
    	width: 50%;
    }
}
